.paragraph {
  font-size: 18px;
  color: white;
  width: 40%;
}

.root {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 70%;
  font-size: 30px;
  color: white;
  margin: auto;
  flex-wrap: wrap;
  margin: 40px auto;
}

.text {
  font-size: 20px;
  text-decoration: underline;
  /* color: crimson; */
}
