@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tabs {
  padding: 5px;
  margin: 10px;
  width: 100px;
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.label {
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  margin: 10px 5px;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.label:active {
  top: 3px;
}
